<!--中间白条开始-->
<div class="tex"></div>
<!--中间白条结束-->
<!--底部开始-->
<footer>
    <div class="one">
        <a href="">
            <i class="iconfont icon-weixin"></i>
        </a>
        <a href="">
            <i class="iconfont icon-qq2"></i>
        </a>
        <a href="">
            <i class="iconfont icon-youjian"></i>
        </a>
    </div>
    <p>
        <a href="" class="left">豫ICP备17021305号</a>
        <a href="" class="right">
            <img src="../static/img/gonganbeian.png" alt="">豫公网安备 41012202000160号
        </a>
    </p>
    <p>联系电话 0371-62180519</p>
    <p>郑州素馨花卉有限公司 版权所有 © 2017-2021</p>
</footer>
<!--底部结束-->
</body>
</html>